@font-face {
  font-family: "Gotham";
  src: url(app/assets/font/GothamNarrow-Medium.otf) format("truetype");
}

@font-face {
  font-family: "GothamBold";
  src: url(app/assets/font/GothamNarrow-Bold.otf) format("truetype");
}

@font-face {
  font-family: "GothamBook";
  src: url(app/assets/font/GothamNarrow-Book.otf) format("truetype");
}

@font-face {
  font-family: "bernie";
  src: url(app/assets/font/BERNIE.ttf) format("truetype");
}

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: url(app/assets/img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgba(31,31,31,0.05);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  height:132px;
}
.header-title {
  text-align:left;
  font-size: 1.5rem;
  margin: 1rem;
}

.header-title-game{
  text-align:center;
  font-size: 3rem;
  margin: 1rem;
  width:50px;
  margin-top:-10px;
}

.hd{
  width:33%;
}

.header-game-img{
  text-align:left;
  height: 84.7px;
  margin-left:50px;
}

.header-game-img img{
  width: 160px;
}

.header-game-right{
  text-align:right;
  margin-right:50px;
  opacity: 0.6;
  color:white;
  font-size:small;

  font-family:"GothamBook";
}

.topics{
  font-size:small;
  color:#e100cb;
  font-family:"GothamBook";
}

.sitcoms{
  font-size:4rem;
  color:whitesmoke;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top:-10px;
  font-family:"GothamBook";
}

.header-centered-game{
  -webkit-flex: 1; /* Safari 6.1+ */
  flex: 1;
  margin:auto;
}

.header-title a{
  flex: 1;
  font-size: 1.5rem;
  margin: 1rem;
}

.header-title a:hover{
  text-decoration:none;
}

.header-title a span{
  color:#e100cb;
}

.header-date {
  text-align: right;
  margin: 1rem;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  margin-top:180px;
  color: white;
}
.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}
.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}
.title-h2 {
  top:50%;
  font-weight: 300;
  font-size: 3rem;
  margin: .5rem;
  width:200px;
  height:200px;
  background-color: #EA1AD5;
  border-radius:100%;
  text-align:center;
  padding:auto;
  transform: rotate(15deg);
  padding-top:25px;
}

.title-h2 span{
  font-size: 6rem;
  font-weight: bold;
}

a:hover{
  color: white;
  text-decoration:none;
}


.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;

  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  overflow:hidden;
}

.techs-container {
  margin: 1rem;
}
.techs-h2 {
  font-weight: 300;
  font-size: 1.5rem;
}
.techs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tech {
  height: 15rem;
  width: 15rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.tech-logo {
  width: 5rem;
  height: 5rem;
  float: right;
  margin: 0 0 .5rem .5rem;
}
.tech-h3 {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

.gameview{
  margin:auto;
  width:80%;
}


#blast{
  background: transparent;
  height: 60px;
  font-size: x-large;
  text-align:center;
}

#input-rep{
  width: 80%;
  margin: auto;
  text-align: center;
}

#send{
  margin-top:20px;
  width: 140px;
  height: 56px;
  border-radius: 6px;
  background-color: #ea1ad5;
  border:none;
  font-size:24px;
  margin-left: auto;
  margin-right: auto;

  font-family:"GothamBook";
}

.vspace{
  height:20px;
}

.timer-container{
  width:150px;
  height:150px;
  margin:auto;
  margin-top: 50px;
}

.value{
  position:relative;
  top:-127px;
  width:150px;
  text-align:center;
  font-size:7rem;
  color:whitesmoke;
  font-family:"GothamBold";
}

.splashmsg{
  font-family:"bernie";
  height:200px;
}


.player_avatar{
  display : block;
  margin:auto;
  overflow:hidden;
  object-fit: cover;
  width:60px;
  height:60px;
  border-radius: 100%;
}

ul#hor .score{
  display : block;
  width: 100px;
  height:100px;
  color: #eccde7;
  padding:10px;
  border-radius: 6px;
  border: solid 1px rgba(255,255,255,0.25);
  border-top-color:rgba(255,255,255,0.05);
  font-size:6rem;
  margin-top:-10px;

  font-family:"GothamBold";

}

ul#hor span {
  display : block;
  color: #eccde7;
  margin:auto;
  margin-top:5px;
}
ul#hor li {
  display : inline-block;
  width:120px;
  height:100px;
  margin:0 2em;
  text-align:center;
}
ul#hor {
  margin-top:-25px;
  list-style-type : none; /* Car sinon les puces se placent n'importe où */
  text-align:center;
  padding-left: 0;
}


.sp-container h2 {
  position: absolute;
  top: 50%;
  line-height: 30px;
  height: 100px;
  margin-top: -50px;
  font-size: 30px;
  width: 50%;
  text-align: center;
  color: transparent;
  animation: blurFadeInOut 3s ease-in backwards;
  -ms-transform: rotate(30deg); /* IE 9 */
  -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
  transform: rotate(30deg);
}
.sp-container span {
  animation: blurFadeInOutPink 3s ease-in backwards;
}

.sp-container h2.frame-1 {
  animation-delay: 0s;
}

@keyframes blurFadeInOut{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: rotate(30deg) scale(1.3);
  }
  20%,75%{
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: rotate(30deg) scale(1);
  }
  100%{
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    transform: rotate(30deg) scale(0);
  }
}

@keyframes blurFadeInOutPink{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px #e67bff;
    transform: rotate(30deg) scale(1.3);
  }
  20%,75%{
    opacity: 1;
    text-shadow: 0px 0px 1px #e67bff;
    transform: rotate(30deg) scale(1);
  }
  100%{
    opacity: 0;
    text-shadow: 0px 0px 50px #e67bff;
    transform: rotate(30deg) scale(0);
  }
}

@keyframes blurFadeIn{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  50%{
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}

.answer-bar {
  input[type='text'] {
    color: white;
  }
}
